name: BackEnd-CI

on:
  push:
    branches: 'feature/BE/*'
  pull_request:
    branches: 'develop'
    types: [opened, synchronize, reopened, labeled]

jobs:
  test:
    if: contains(github.event.pull_request.labels.*.name, 'π’»λ°±μ—”λ“')
    runs-on: self-hosted
    steps:
      - name: μ½”λ“ μ²΄ν¬μ•„μ›ƒ
        uses: actions/checkout@v3

      - name: node μ„Έν…
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: μμ΅΄μ„± μ„¤μΉ
        run: npm ci
        working-directory: ./BackEnd

      - name: ν…μ¤νΈ μ§„ν–‰
        run: npm test
        working-directory: ./BackEnd
